<app-header></app-header>



<div class="container">
  <div class="left">
    <app-card>
      <h2>Share your creativity</h2>
      <!-- <button>TEST BUTTON</button> -->

      <input [(ngModel)]="creativity" placeholder="Write something creative..." />
      <button (click)="addItem()">Add</button>
      <p class="hint">Type and press Add. Items show below.</p>
    </app-card>


    <app-card>
      <h3>Live Items</h3>
      <ul>
        <li *ngFor="let it of items" appHighlight>{{ it | truncate:40 }}</li>
      </ul>
    </app-card>
  </div>


  <div class="right">
    <app-card>
      <h3>Component Lifecycle Demo</h3>
      <app-lifecycle-demo *ngIf="items.length !== 0"></app-lifecycle-demo>
    </app-card>


    <app-card>
      <h3>Now (custom pipe)</h3>
      <p>{{ '' | now }}</p>
    </app-card>
  </div>
</div>

<!-- <div style="position: fixed; bottom: 20px; right: 20px;">
  <button (click)="toggleTheme()" class="theme-btn">Toggle Dark Mode</button>
</div> -->